@import "bootstrap-sprockets";
@import "bootstrap";

*{
  margin: 0;
  padding: 0;
  border: 0;
}

html,
body {
  background: #000A00;
  margin:0;
  padding:0;
  height:100%;
  color: #FFFFFF;
}

a {
  color: #33CCFF;
}
a:hover{
  color: #fff;
}

a.movielink {
      color: #FFFFFF;
}
p {
  color: #33CCFF;
}

em {
  color: #FFFFFF;
}

span{
  font-size: 40px;
  font-weight: bold;
}

h1 {
    text-align: center;
    color: #FFFFFF;
}

h2 {
    color: #FFFFFF;
}

h3 {
    color: #33CCFF;
}

h4 {
    text-align: center;
    color: #FFFFFF;
}

h5 {
    text-align: center;
    color: #FFFFFF;
}

label {
  color: #FFFFFF;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
}

div {
  float:center;
}

.hide {
  display: none;
}

.nav {
  margin-top: 5px;
}

.user-info {
  margin-top: 9px;
}

.image {
  padding-right: 8px;
}

.checkbox {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.thumbnail {
  background-color: inherit;
  display: inline-block;
  margin-bottom: 10px;
  padding: 30px;
  font-size: 12px;
  border: 0;
}

.form-control{
  color: #33CCFF;
}

.jumbotron {
  height: 700px;
  clear: both;
  text-align: center;
}

#form {
  color: #33CCFF;
}

#wrapper {
  min-height:100%;
  position:relative;
}

#footer {
  width:100%;
  height:20px;
  position:absolute;
  bottom:0;
  left:0;
  background:#000000;
}
#bottom-footer{
  font-size: .9em;
}

.search{
 text-align: center;
}
