<br>
<div>
  <% @shows.each do |show| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail" align = "center">
        <%= link_to (image_tag show.image.url(:medium), class: 'image') , show %>
        <%= link_to show.title, show %> |
        <%= link_to 'Remove', show, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
  <% end %>
</div>