<h1>Movies</h1>

<div align="center"><%= link_to 'Add Movie', new_series_path %></div>
<br>
<br>
    <% @series.each do |serie| %>
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail" align = "center">
         
          <%= link_to serie.title, serie %> |
          <%= link_to 'Remove', serie, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    <% end %>