<h1>Series#new</h1>

<%= simple_form_for :series, html: { :multipart => true } do |f| %>
 <div class="form-inputs">
  <%= f.label :title %>
  <%= f.text_field :title %> 
  <%= f.submit "Update", class: 'btn btn-info'  %>
</div>
<% end %>
